//- Created by Sergey on 11-Oct-15.
link(href='https://fonts.googleapis.com/css?family=Oswald'
     rel="stylesheet"
     type="text/css" )
link(href="/static/bootstrap/css/bootstrap.min.css"
     rel="stylesheet"
     type="text/css" )
link(href="/static/css/styles.css"
     rel="stylesheet"
     type="text/css" )